<tr>
  <td><%= project.title %></td>
  <td><%= project.description %></td>
  <td><%= project.technologies %></td>
  <td><%= link_to 'Show', user_project_path(@user, project), class: 'btn btn-primary btn-sm' %></td>
          
  <% if policy(Project).edit? %>
     <td><%= link_to 'Edit', edit_user_project_path(@user, project), class: 'btn btn-warning btn-sm' %></td>
  <% end %>
  <% if policy(Project).destroy? %>
    <td><%= link_to 'Destroy', user_project_path(@user, project), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %></td>
  <% end %>
</tr>