<div class="container">
  <h1 class="mt-4">Projects</h1>
  <%= paginate @projects do %>
  <ul class="pagination">
    <li class="page-item">
      <%= link_to 'Previous', @projects.prev_page, class: 'btn btn-primary' %>
    </li>
    <li class="page-item">
      <%= link_to 'Next', @projects.next_page, class: 'btn btn-primary' %>
    </li>
  </ul>
<% end %>


  <% if current_user.role == 'manager' %>
    <%= link_to 'New Project', new_user_project_path(@user), class: 'btn btn-success my-3' %>
  <% end %>

  <table class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Technologies</th>
        <th colspan="3">Actions</th>
      </tr>
    </thead>

    <tbody>
      <%= render  @projects %>
    </tbody>
  </table>
  
</div>
