<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <h1 class="mt-4"><%= @project.title %></h1>

      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Description</h5>
          <p class="card-text"><%= @project.description %></p>
        </div>
      </div>

      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Technologies</h5>
          <p class="card-text"><%= @project.technologies %></p>
        </div>
      </div>

      <h2 class="mt-4">Bugs</h2>

      <% if policy(Bug).new? %>
        <%= link_to 'New Bug', new_user_project_bug_path(@user, @project), class: 'btn btn-success mb-3' %>
      <% end %>

      <% if @project.bugs.any? %>
  <table class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th>Title</th>
        <th>Deadline</th>
        <th>Bug Type</th>
        <th>Bug Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
    
    <%= render partial: 'bugs/bugs', collection: @project.bugs, as: :bug %>
    </tbody>
  </table>
<% else %>
  <p>No bugs associated with this project.</p>
<% end %>
    </div>
    
  </div>
  <%= link_to 'Back', user_projects_path(@user), class: 'btn btn-secondary' %>

</div>

