<tr>
  <td><%= bug.title %></td>
  <td><%= bug.deadline %></td>
  <td><%= bug.types %></td>
  <td><%= bug.status %></td>
  <td>
    <div class="btn-group" role="group">
      <%= link_to 'Show', user_project_bug_path(@user, @project, bug), class: 'btn btn-primary btn-sm' %>
      <% if current_user.role != 'developer' %>
        <%= link_to 'Edit', edit_user_project_bug_path(@user, @project, bug), class: 'btn btn-warning btn-sm' %>
        <%= link_to 'Delete', user_project_bug_path(@user, @project, bug), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
      <% end %>
    </div>
  </td>
</tr>
