<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <h1 class="mt-4"><%= @bug.title %></h1>

      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Description</h5>
          <% if @bug.description.present? %>
            <p class="card-text"><%= @bug.description %></p>
          <% end %>
        </div>
      </div>

      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Details</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>Deadline:</strong> <%= @bug.deadline %></li>
            <% if @bug.developer_id.present? %>
              <li class="list-group-item">
                <strong>Assigned to Developer:</strong>
                <%= developer_name(@bug) %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>

      <% if @bug.image.attached? %>
        <div class="card mt-4">
          <div class="card-body">
            <h5 class="card-title">Screenshot</h5>
            <p class="card-text"><%= image_tag url_for(@bug.image), class: 'img-fluid' %></p>
          </div>
        </div>
      <% end %>

      <% if current_user.developer? && @bug.developer_id == current_user.id && !@bug.completed? %> 
        <div class="card mt-4">
          <div class="card-body">
            <h5 class="card-title">Update Status</h5>
            <% if @bug.deadline.present? && @bug.deadline < Date.today %>
              <div class="alert alert-danger mt-4">
                Deadline is over!
              </div>
            <% else %>
              <%= form_with(model: @bug, url: user_project_bug_path(@user, @project, @bug), method: :patch, local: true, html: { class: 'my-4' }) do |form| %>
                <div class="mb-3">
                  <%= form.label :status, "Update Status", class: 'form-label' %>
                  <%= form.select :status, limited_status_options(@bug), { selected: selected_status_option(@bug) }, class: 'form-select' unless @bug.deadline.present? && @bug.deadline < Date.today %>
                </div>

                <div class="text-center">
                  <%= form.submit 'Update Status', class: 'btn btn-primary' unless @bug.deadline.present? && @bug.deadline < Date.today %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>

      <div class="mt-4">
        <%= link_to 'Back', user_project_path(@user, @project), class: 'btn btn-secondary' %>
      </div>
    </div>
  </div>
</div>
